<gewd-auto-scale [width]="+outerSize.value"
                 [height]="+outerSize.value">
    <div style="background: green;"
         [style.width.px]="innerSize.value"
         [style.height.px]="innerSize.value"
    >
        200x200 <br/> Inner
    </div>
</gewd-auto-scale>

<br/>

<mat-label>Outer Size: {{outerSize.value}}px</mat-label>
<mat-slider>
    <input matSliderThumb [min]="100" [max]="400" #outerSize>
</mat-slider>

<br/>
<mat-label>Inner Size: {{innerSize.value}}px</mat-label>

<mat-slider>
    <input matSliderThumb [min]="100" [max]="400" [value]="200" #innerSize>
</mat-slider>

<gewd-auto-scale width='120' height='120'>
    <img [src]='imgSource' gewdAutoScaleImg alt='test image'/>
</gewd-auto-scale>

<button (click)='toggleImgSource()'>Toggle IMG source</button>
