<h2>Open Dev-Tools to see the network calls.</h2>

<mat-expansion-panel (opened)="changeIt(textarea, markdown)">
  <mat-expansion-panel-header>
    Markdown
  </mat-expansion-panel-header>

  <mat-tab-group>
    <mat-tab label="Try out">

<textarea #textarea
          (keyup)="changeIt(textarea, markdown)">
{{exampleMD|async}}
</textarea>

      <gewd-markdown #markdown></gewd-markdown>

    </mat-tab>

    <mat-tab label="Emoji Overview" #tab>
      <i>Note: Emojilist is only passed to markdown once this tab is activated :)</i>
      <gewd-markdown [markdown]="tab.isActive ? emojiList : ''"></gewd-markdown>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
<br/>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    Lazy Component
  </mat-expansion-panel-header>

  <gewd-lazy-component #lazyComponent
                       [componentInputs]="{ testProp: 'Component Binding from outside' }">
    <button mat-raised-button color="primary"
            (click)="setLazyComp(lazyComponent)">
      Load Lazy Component: Test-Comp <br/> (this button as content will be replaced)
    </button>
  </gewd-lazy-component>

  <br/>
  <br/>

  <gewd-lazy-module-component
    #lazyModuleComponent
    [componentInputs]="{ testProp: 'Module Component Example' }"
    [componentOutputs]="outputBinding">
    <button mat-raised-button color="primary"
            (click)="setLazyModuleComp(lazyModuleComponent)">
      Load Lazy Module-Component: Test Module-Comp <br/> (this button as content will be replaced)
    </button>
  </gewd-lazy-module-component>

  <div>
    Container of Output-Events:

    <pre>{{outputLog | json}}</pre>
  </div>
</mat-expansion-panel>


<br/>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    Dynamic Portal Component
  </mat-expansion-panel-header>

  <dynamic-portal key="portalKey" class="dynamic-portal-border">
    Dynamic Portal Placeholder
  </dynamic-portal>

  <br />

  <gewd-lazy-module-component
    #lazyPortalModuleComponent
    [componentInputs]="{ testProp: 'Binding value', portalKey: 'portalKey' }"
   >
    <button mat-raised-button color="primary"
            (click)="setLazyPortalModuleComp(lazyPortalModuleComponent)">
      Load Lazy Module-Component: Test Module-Comp <br/> (this button as content will be replaced)
    </button>
  </gewd-lazy-module-component>
</mat-expansion-panel>
