Open Dev-Tools to see the network calls.

<mat-expansion-panel (opened)="changeIt(textarea, markdown)">
  <mat-expansion-panel-header>
    Markdown
  </mat-expansion-panel-header>

  <mat-tab-group>
    <mat-tab label="Try out">

<textarea #textarea
          (keyup)="changeIt(textarea, markdown)">
TypeScript Example Code
```ts
  var hi = "@gewd/markdown";

  class Test implements MyInterface {
    constructor (private prop: string) { }
  }  // adding an emoji :+1: as comment
```


Mermaid example :grin:
Emoji's in mermaid need to be used in a double quote
```graph TD
A[Hard] -->|Text | B("Round  :grin: ")
B --> C{Decision}
C -->|One| D[Result 1]
C -->|Two| E[Result 2]
```

</textarea>

      <gewd-markdown #markdown></gewd-markdown>

    </mat-tab>

    <mat-tab label="Emoji Overview" #tab>
      <i>Note: Emojilist is only passed to markdown once this tab is activated :)</i>
      <gewd-markdown [markdown]="tab.isActive ? emojiList : ''"></gewd-markdown>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>

