<h2>Open Dev-Tools to see the network calls.</h2>

<mat-expansion-panel (opened)="changeIt(prismEditorComponent.value, markdown)">
  <mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/@gewd/markdown" rel="nofollow"
       class="npm-link">
      <img src="https://img.shields.io/npm/v/@gewd/markdown.svg?"
           alt="Markdown NPM Version">
    </a>&nbsp;- Markdown
  </mat-expansion-panel-header>

  <mat-tab-group>
    <mat-tab label="README.MD" #readmeTab>
      <gewd-markdown *ngIf="readmeTab.isActive"
                     [markdown]="readmeMD$ | async"></gewd-markdown>
    </mat-tab>
    <mat-tab label="Try out">

      <gewd-prism-editor [value]="exampleMD$|async"
                         #prismEditorComponent
                         language="markdown"
                         (changed)="changeIt($event, markdown)">
      </gewd-prism-editor>


      <gewd-markdown #markdown [useCache]="true"
                     (onLinkClick)="handleLinkClick($event)">
      </gewd-markdown>

    </mat-tab>

    <mat-tab label="Emoji Overview" #tab>
      <i>Note: Emojilist is only passed to markdown once this tab is activated :)</i>
      <gewd-markdown [markdown]="tab.isActive ? emojiList : ''"></gewd-markdown>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
<br/>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/@gewd/lazy" rel="nofollow"
       class="npm-link">
      <img src="https://img.shields.io/npm/v/@gewd/lazy.svg?"
           alt="Gewd Lazy NPM Version">
    </a>&nbsp;- Lazy Component
  </mat-expansion-panel-header>

  <gewd-lazy-component #lazyComponent
                       [componentInputs]="{ testProp: 'Component Binding from outside' }">
    <button mat-raised-button color="primary"
            (click)="setLazyComp(lazyComponent)">
      Load Lazy Component: Test-Comp <br/> (this button as content will be replaced)
    </button>

    <mat-progress-bar isLoading mode="indeterminate" color="accent"></mat-progress-bar>
  </gewd-lazy-component>

  <br/>
  <br/>

  <gewd-lazy-module-component
    #lazyModuleComponent
    [componentInputs]="{ testProp: 'Module Component Example' }"
    [componentOutputs]="outputBinding">
    <button mat-raised-button color="primary"
            (click)="setLazyModuleComp(lazyModuleComponent)">
      Load Lazy Module-Component: Test Module-Comp <br/> (this button as content will be replaced)
    </button>


    <mat-progress-bar isLoading mode="indeterminate" color="accent"></mat-progress-bar>
  </gewd-lazy-module-component>

  <div>
    Container of Output-Events:

    <pre>{{outputLog | json}}</pre>
  </div>
</mat-expansion-panel>


<br/>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/@gewd/ng-utils" rel="nofollow"
       class="npm-link">
      <img src="https://img.shields.io/npm/v/@gewd/ng-utils.svg?"
           alt="Gewd NG-Utils NPM Version">
    </a>
    &nbsp;- Dynamic Portal Component
  </mat-expansion-panel-header>

  <dynamic-portal key="portalKey" class="dynamic-portal-border">
    Dynamic Portal Placeholder
  </dynamic-portal>

  <br/>

  <gewd-lazy-module-component
    #lazyPortalModuleComponent
    [componentInputs]="{ testProp: 'Binding value', portalKey: 'portalKey' }"
  >
    <button mat-raised-button color="primary"
            (click)="setLazyPortalModuleComp(lazyPortalModuleComponent)">
      Load Lazy Module-Component: Test Module-Comp <br/> (this button as content will be replaced)
    </button>
  </gewd-lazy-module-component>
</mat-expansion-panel>

<br/>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/@gewd/ng-utils" rel="nofollow"
       class="npm-link">
      <img src="https://img.shields.io/npm/v/@gewd/ng-utils.svg?"
           alt="Gewd NG-Utils NPM Version">
    </a>
    &nbsp;- NgErrorOverlay
  </mat-expansion-panel-header>

  <gewd-markdown [markdown]="ngErrorOverlay$ | async">

  </gewd-markdown>

  <button (click)="makeError()">Trigger an error</button>
</mat-expansion-panel>

<br/>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/@gewd/mat-utils" rel="nofollow"
       class="npm-link">
      <img src="https://img.shields.io/npm/v/@gewd/mat-utils.svg?"
           alt="Gewd Mat-Utils NPM Version">
    </a>
    &nbsp;- Material Utils
  </mat-expansion-panel-header>

  <gewd-markdown [markdown]="matUtilsReadmeMD$ | async">

  </gewd-markdown>

  <mat-icon svgIcon="add"></mat-icon>
</mat-expansion-panel>


<br/>

<mat-expansion-panel (opened)="openedEditorPanel()">
  <mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/@gewd/components" rel="nofollow"
       class="npm-link">
      <img src="https://img.shields.io/npm/v/@gewd/components.svg?"
           alt="Gewd Components NPM Version">
    </a>
    &nbsp;- PrismEditor
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-select placeholder="Examples" [value]="currentPrismExample"
                (valueChange)="updateValueChanged($event)">
      <mat-option value="empty">Empty</mat-option>
      <mat-option value="readme_md">Markdown Readme</mat-option>
      <mat-option value="ts_example">TypeScript</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Render debounce-time"
           value="200" type="number"
           #renderDebounce>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Editor Height (px)"
           value="100" type="number"
           #editorHeight>
  </mat-form-field>

  <gewd-prism-editor [value]="editorExample$ | async"
                     [language]="editorLanguage$ | async"
                     [debounceTime]="+renderDebounce.value"
                     [style.--editor-min-height.px]="editorHeight.value"
                     #prismEditor>
  </gewd-prism-editor>

  <br/>

  <h4>Mat-Form-Field Example</h4>

  <form [formGroup]="aForm">

    <mat-form-field style="width: 100%">

      <gewd-custom-form-control placeholder="test"
                                formControlName="editor"
                                #customFormControl
      >
        <gewd-prism-editor [value]="editorExample$ | async"
                           [language]="editorLanguage$ | async"
                           [debounceTime]="+renderDebounce.value"
                           [style.--editor-min-height.px]="editorHeight.value"
                           (value$)="customFormControl.value = $event"
                           (focussed$)="customFormControl.focused = $event" #editoe>
        </gewd-prism-editor>
      </gewd-custom-form-control>
    </mat-form-field>
  </form>


  Form Field Data:
  <hr>
  {{ aForm.value | json }}
</mat-expansion-panel>
